body{

    border: 0;
    margin: 0px;
}

/* Common asset and tools */
.primary-Btn{
   background-color: #1D4ED8; 
   color: #FFFFFF;
   border-radius: 10px;
   height: 50px;
   width: 200px;
   font-weight: bold;
   border: 0px solid;
}

/* Logo */

.logo{
    display: flex;
}
nav{
    margin: 10px 50px;
}

.navbar-class{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    
}

.nav-links {
    display: flex;
    gap: 15px;
    list-style: none;
    
}

.nav-links a{
    text-decoration: none;
    color: #575757;;
}

/* Banner section */
.banner-section{
    height: 700px;
    background-image: url("../assets/banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #FFFFFF;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner-slogan{
    font-size: 80px;
}

.register-button-class{
    margin-top:180px;
}


/* speaker container section started */


.speaker-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.speaker-section-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin: 0 auto 50px auto;
    padding: 0 20px;
}
.speaker-section h2 {
    font-size: 48px;
    margin-bottom: 40px;
    color: #000000;
}

.speaker-cart{
    border: 1px solid #e5e7eb;
    border-radius: 12px;
    box-shadow: 10px #575757;
    overflow: hidden;
    text-align: left;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.05), 0 2px 4px -1px rgba(0, 0, 0, 0.03);
    display: flex;
    flex-direction: column;
}

.speaker-cart img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}


.speaker-cart h4 {
    color: #2563eb;
    font-size: 11px;
    letter-spacing: 0.5px;
    margin-top: 20px;
    margin-bottom: 8px;
}


.speaker-cart h3 {
    color: #111827; 
    font-size: 22px;
    margin-top: 0;
    margin-bottom: 8px;
}


.speaker-cart p {
    color: #6b7280; 
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 24px; 
}


/* speaker container section ended */




/* Pricing section added */



.pricing-section{
    padding:80px 50px;
    text-align:center;
    background:#ffffff;
}

.pricing-section h2{
    font-size:48px;
    margin-bottom:10px;
    color:#111827;
}

.pricing-subtitle{
    color:#6b7280;
    margin-bottom:50px;
}

.pricing-container{
    display:flex;
    justify-content:center;
    gap:25px;
    flex-wrap:wrap;
}

.pricing-card{
    width:320px;
    background:#ffffff;
    border:1px solid #e5e7eb;
    border-radius:12px;
    padding:30px;
    text-align:left;
    transition:.3s;
}



.pricing-card h5{
    color:#6b7280;
    margin:0;
}

.pricing-card h1{
    font-size:50px;
    margin:10px 0 5px;
}

.pricing-card p{
    color:#6b7280;
    margin-bottom:20px;
}

.pricing-card hr{
    border:none;
    border-top:1px solid #e5e7eb;
    margin:20px 0;
}

.pricing-card ul{
    padding-left:18px;
    margin-bottom:30px;
}

.pricing-card li{
    margin-bottom:12px;
    color:#374151;
}

.outline-btn{
    width:100%;
    height:50px;
    background:#ffffff;
    color:#1D4ED8;
    border:1px solid #1D4ED8;
    border-radius:10px;
    font-weight:bold;
    cursor:pointer;
}

/* Featured Card */

.featured{
    background:#0F172A;
    color:white;
  
}

.featured h5,
.featured p,
.featured li{
    color:#d1d5db;
}

.featured hr{
    border-top:1px solid rgba(255,255,255,.15);
}

.featured .primary-Btn{
    width:100%;
}



/* Conference Schedule */
.DayScheduleSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.DaySchedule{
    display: flex;
}

.DayCart{
    height: 300px;
    width: 300px;
    gap: 30px;
    margin: 50px;
    border: 1px #000000 solid;
    text-align: center;
    border-radius: 20px 0px 20px 0px;
}

.DayCart:hover{
    background-color: #1D4ED8;
    border-radius: 0px 20px 0px 20px;
}


/* Footer section  */

footer{
    height: 250px;
    background-color: #0D1B2A;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #FFFFFF;
    padding: 0px 50px;
}

.rightFooter{
    display: flex;
}

.rightFooter p{
    margin: 30px;
}
